
// # Front-end Style Guide

// ## Layout

// The designs were created to the following widths:

// - Mobile: 375px
// - Desktop: 1440px

$responsive-mobile: 375px;
$responsive-desktop: 1440px;

// Colors

// ### Primary

$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);

// ### Neutral

$very-dark-blue: hsl(234, 12%, 34%);
$grayish-blue: hsl(229, 6%, 66%);
$very-light-gray: hsl(0, 0%, 98%);

// ## Typography

// ### Body Copy

// - Font size: 15px

// ### Fonts

// - Family: [Poppins](https://fonts.google.com/specimen/Poppins)

// Weights: 200, 400, 600

$bold: 600;
$normal:400;
$thin: 200;


