@font-face {
    font-family: "Poppins";
    src: url("https://fonts.google.com/specimen/Poppins");

}

* , *::after , *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    background-color: $very-light-gray;
    font-family: "Poppins";
    overflow-x: hidden;

}


