.container {
  margin: 80px;
  min-height: 600px;
  flex: 1;

  .header {
    max-width: 465px;
    text-align: center;
    margin: auto;
    margin-bottom: 75px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    h1 {
      font-size: 25px;
      color: $very-dark-blue;
      font-weight: $thin;
      line-height: 1.4;
    }
    h2 {
      font-size: 25px;
      color: $very-dark-blue;
      font-weight: $bold;
      line-height: 1.2;
    }
    p {
      font-size: 16px;
      color: $grayish-blue;
      font-weight: $thin;
      margin-top: 10px;
    }

    @media (max-width: 400px) {
      width: 80vw;
    }
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'supervisor team-builder calculator' 'supervisor karma calculator';
    @media (max-width: 1400px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 'supervisor team-builder' 'karma calculator';
    }
    @media (max-width: 920px) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas: 'supervisor' 'team-builder' 'karma' 'calculator';
    }

    gap: 30px;
    .flex {
      display: grid;
      place-items: center;
    }

    .supervisor__card {
      grid-area: supervisor;
    }
    .team__builder__card {
      grid-area: team-builder;
    }
    .karma__card {
      grid-area: karma;
    }
    .calculator__card {
      grid-area: calculator;
    }
  }

  @media (max-width: 920px) {
    margin: 80px 40px;
  }

  @media (max-width: 500px) {
    margin: 80px 20px;
  }
}
